<?xml version="1.0" encoding="UTF-8"?>
<!-- Definition of a Java EE web application -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Configuration of welcome files for the web application -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Configuration of a context parameter for the web application -->
    <context-param>
        <param-name>configFile</param-name>
        <param-value>/config.properties</param-value>
    </context-param>

    <!-- Configuration of a servlet -->
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <!-- Specifies the fully qualified class name of the servlet -->
        <servlet-class>com.santhoshjogula.servlets.MyServlet</servlet-class>
    </servlet>

    <!-- Mapping of the servlet to a URL pattern -->
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <!-- Specifies the URL pattern to which the servlet is mapped -->
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
</web-app>
